/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* Блок browser isn't supported */
.not-supported {
  display: none;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  color: #424242;
}

html.no-canvas .not-supported,
html.no-fontface .not-supported,
html.no-opacity .not-supported,
html.no-textshadow .not-supported,
html.no-boxshadow .not-supported,
html.no-backgroundsize .not-supported,
html.no-cssanimations .not-supported,
html.no-csstransforms .not-supported,
html.no-rgba .not-supported {
  display: block !important;
}

.not-supported a {
  font-weight: bolder;
  color: #424242;
}

.not-supported h1 {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.6);
  width: 100%;
  font-family: "Fira Sans";
  font-weight: 700;
  font-style: italic;
  font-size: 3em;
}

.not-supported .description {
  margin-left: 25%;
  width: 50%;
}

#force-open {
  text-align: center;
}

#force-open .button {
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
  padding: 15px 30px;
  background-color: #5677fc;
  color: #fff;
  font-family: "Roboto Light", Arial;
  text-transform: uppercase;
  font-size: 1.2em;
  cursor: pointer;
}
/* !Блок browser isn't supported */

/* Блок no js support */
html.js .no-js-support {
  display: none !important;
}

.no-js-support {
  background-color: #fff;
  background-image: url("../images/warning-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9998;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
}

.no-js-support h1 {
  text-align: center;
  font-style: italic;
}

.no-js-support p {
  width: 70%;
  margin-left: 15%;
  font-size: 16pt;
}
/* !Блок no js support */

/* Загрузочный экран */
#loader-screen {
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 100%;
  z-index: 9997;
  background-position: center center;
  background: -moz-linear-gradient(top, #424242 0%, #212121 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#212121)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #424242 0%,#212121 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #424242 0%,#212121 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #424242 0%,#212121 100%); /* IE10+ */
  background: linear-gradient(to bottom, #424242 0%,#212121 100%); /* W3C */
}

#loader-screen p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 1em;
  font-family: "Fira Sans";
  font-weight: 700;
  font-style: italic;
  color: #fff;
  font-size: 2em;
}
/* !Загрузочный экран */

/* Контейнер с документами */
.photo-block {
  width: 100%;
  text-align: center;
}

.photo-block .docs-container {
  display: inline-block;
  vertical-align: top;
}

.photo-block.double .docs-container {
  width: 49%;
}

.photo-block.triple .docs-container {
  width: 32%;
}

.docs-container {
  
}

.docs-container .imgs {
  width: 90%;
  margin-left: 5%;
  padding: 2.2em 0 0 0;
  text-align: center;
}

.docs-container .imgs img {
  display: inline-block;
  box-shadow: 0 0 10px 0 #858585;
  margin-bottom: 10px;
  -webkit-transition: all .8s ease-out;
  -o-transition: all .8s ease-out;
  -moz-transition: all .8s ease-out;
  -ms-transition: all .8s ease-out;
  -kthtml-transition: all .8s ease-out;
  transition: all .8s ease-out;
}

.docs-container .imgs img:hover {
  box-shadow: 0 0 10px 0 #252525;
}

.docs-container.no-shadow .imgs img {
  box-shadow: none !important;
}

.docs-container.far .imgs img {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.docs-container.closer .imgs img {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.docs-container.single .imgs img {
  max-width: 60%;
}

.docs-container.double .imgs img {
  max-width: 40%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.triple .imgs img {
  max-width: 25%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.four .imgs img {
  max-width: 20%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.six .imgs img {
  max-width: 11%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.seven .imgs img {
  max-width: 9%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container .desc {
  width: 70%;
  margin-left: 15%;
  padding: 0 0 3em 0;
}

.docs-container .desc p {
  padding: 0;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-size: .8em;
}
/* !Контейнер с документами */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

#part0 .container {
  width: 90%;
  max-width: none;
}

.part-banner h1 {
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}

#parts img {
  max-width: 100%;
}

.waves-effect {
  .waves-effect.waves-grey .waves-ripple {
    background-color: rgba(100, 100, 100, 0.45); }
}

.parallax-container {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.part000, .part001, .part002, .part003, .part004 {
  cursor: pointer;
}

#part1, #part2, #part3, #part4 {
  display: none;
}